/.vs/the_grandmaster_idea/v16
/Debug
/Release
/the_grandmaster_idea.vcxproj
/the_grandmaster_idea.sln
*.user
*.bin
*.filters
/match_duration_*
*.dat
*.chess
*.lst
breaks
chess
g++output.txt
/x64
/x64
/x64/Release
/x64
/math++/Debug
/math++/x64
/functions_field/x64/Debug
/functions_field/x64/Debug
/functions_field/x64/Debug
/functions_field/x64/Release
*.bmp
